autosave
bookmarks
cache*
command-history
.config/btop
.config/castero/castero.conf
.config/cava
.config/dconf
.config/doom/config.el
.config/dunst
.config/dunst/dunstrc
.config/dunst/emblems
.config/dunst/README.md
.config/environment.d
.config/fastfetch/config.jsonc
.config/fontconfig/conf.d
.config/foot/foot.ini
.config/FreeTube
.config/fuzzel
.config/fuzzel/fuzzel.ini
.config/fuzzel/README.md
.config/gh
.config/ghostty/config
.config/ghostty/shaders/bloom.glsl
.config/GIMP
.config/go/
.config/gtk-3.0
.config/gtk-4.0
.config/helix
.config/LICENSE
.config/Meltytech
.config/mimeapps.list
.config/msmtp
.config/mutt
.config/newsboat/highlight
.config/nvim/spell
.config/nvim/spell/
.config/obsidian
.config/pulse
.config/QtProject.conf
.config/qutebrowser/theme.py
.config/ranger/colorschemes
.config/ranger/plugins
.config/ranger/README.md
.config/rclone
.config/rofi
.config/rofi/config.rasi
.config/rofi/README.md
.config/secrets
.config/starship/starship.toml
.config/systemd/user
.config/tenacity
.config/udiskie
.config/wall
.config/waybar
.config/yazi/catpuccin.tmTheme
.config/yazi/plugins
.config/yazi/theme.toml
**/elegant-vagrant*
**/elegantvagrant*
__init__.py
lazy-lock.json
lib.pl
.local/bin/zscripts
.local/share/cheats
.local/share/containers/storage
.local/share/flatpak
.local/share/fonts
.local/share/gvfs-metadata
.local/share/harper-ls
.local/share/hyprland
.local/share/mirror
.local/share/navi/cheats
.local/share/nvim
.local/share/qutebrowser
.local/share/ranger
.local/share/task
.local/share/Trash
.local/share/vim/undodir
.local/share/xorg
.local/share/zathura
.local/share/zoxide
.local/share/zsh
.local/state
*.log
playlists
pt.utf-8.spl
__pycache__
search-history
